




table,tr,th,td{
    border: 2px solid;
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
    margin: 90px 10px 1px 160px;
    
}

tbody:nth-child(even) {background-color: rgb(211, 210, 210);} 


.center {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    
  } 



 .btnn{
  padding-left: 9.5%;     
} 




@media screen and (max-width:576px){
table{
      font-size : 50px;
  }

}

@media screen and (max-width:576px){
  .down{
        font-size : 50px;
        text-align:center;
    }
  
  }



.container-sm{
  padding: 5%;
  background-image: url("../img/download.jpeg");
  color: white;
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  font-weight: bold;
  font-size: 15px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }


 .wid1{
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 5%;
}

